/*--------------------------------------------------------------*/
/*------------------general settings----------------------------*/
/*--------------------------------------------------------------*/
html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: relative;
  background-image: radial-gradient(circle, #132152, #080f24);
  margin: 0;
  padding: 0;
  height: 100vh;
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome, Opera and Firefox */
}
canvas {border-radius: 10px;}

a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

/*--------------------------------------------------------------*/
/*------------------font links ---------------------------------*/
/*--------------------------------------------------------------*/
@font-face {
  font-family: 'Bazar';
  src: url('assets/fonts/Bazar.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Regular';
  src: url('assets/fonts/HKGrotesk-RegularLegacy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Semibold';
  src: url('assets/fonts/HKGrotesk-SemiBoldLegacy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Bold';
  src: url('fonts/HKGrotesk-BoldLegacy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/*--------------------------------------------------------------*/
/*------------------animations ---------------------------------*/
/*--------------------------------------------------------------*/
/* fade in and out */
@keyframes easeIn0 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 100;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

/* fade in */
@keyframes easeIn1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* fade in long*/
@keyframes easeIn2 {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 100;
  }

  100% {
    opacity: 100;
  }
}

/* logo (soundwave) animations */
@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.8);
  }
}

@keyframes vquiet {
  25% {
    transform: scaleY(0.2);
  }

  50% {
    transform: scaleY(0.3);
  }

  75% {
    transform: scaleY(0.5);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(0.8);
  }

  50% {
    transform: scaleY(0.3);
  }

  75% {
    transform: scaleY(0.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1.2);
  }

  50% {
    transform: scaleY(0.2);
  }

  75% {
    transform: scaleY(1);
  }
}

/* end logo (soundwave) animations */


@media only screen and (min-width: 500px) {


  #IntroTitle {
    text-align: center;
    font-family: "Bazar";
    color: #ff8871;
    margin-top: 20vh;
    font-size: 13vw;
    text-shadow: 2px 2px 10px rgb(8, 15, 36);
    margin-bottom: 5vw;
  }

  #buttonsIntroCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 60vw;
    max-width: 500px;
    margin: auto;
  }

  #buttonsIntroCont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttonIntro {
    width: 100%;
    height: 6vh;
    font-family: "HK Semibold";
    text-align: center;
    font-size: 26px;
    color: #ff8871;
    cursor: pointer;
    margin-bottom: 4vh;
    text-shadow: 1px 1px 3px rgba(8, 15, 36, 0.5);
    border-radius: 10px;
    background: #ff8871;
    background: -moz-linear-gradient(#ff8871, #ffc7bd);
    background: -ms-linear-gradient(#ff8871, #ffc7bd);
    background: -o-linear-gradient(#ff8871, #ffc7bd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8871), to(#ffc7bd));
    background: -webkit-linear-gradient(#ff8871, #ffc7bd);
    background: linear-gradient(#ff8871, #ffc7bd);
    position: relative;
    color: #080f24;
    font-size: 20px;
    text-align: center;
    line-height: 6vh;
    box-shadow:
      inset 0 2px 3px rgba(255, 255, 255, 0.13),
      0 5px 6px rgba(44, 55, 100, 0.3),
      0 10px 8px 3px rgba(44, 55, 100, 0.2);
  }

  .buttonPage1 {
    height: 15vw;
    width: 15vw;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background: #2c3764;
    background: -moz-linear-gradient(#cad1e8, #8491bf);
    background: -ms-linear-gradient(#cad1e8, #8491bf);
    background: -o-linear-gradient(#cad1e8, #8491bf);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cad1e8), to(#8491bf));
    background: -webkit-linear-gradient(#cad1e8, #8491bf);
    background: linear-gradient(#cad1e8, #8491bf);
    color: #080f24;
    font-size: 20px;
    text-align: center;
    font-family: "HK Semibold";
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow:
      inset 0 2px 3px rgba(255, 255, 255, 0.13),
      0 5px 8px rgba(0, 0, 0, 0.3),
      0 10px 10px 4px rgba(0, 0, 0, 0.3);
  }

  #buttons1Cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin: auto;
  }

  /*--------------------------------------------------------------*/
  /*------------------ section A ---------------------------------*/
  /*--------------------------------------------------------------*/
  /*-------------------page 2A  ---------------------------------*/
  #page2aTitle {
    font-family: "Bazar";
    font-size: 2.5vw;
    text-align: center;
    margin-top: 10vh;
    color: #ff8871;
  }

  #searchBarHomeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vh;
  }

  #resultsContainerParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -4px;
  }

  #searchbar {
    margin-left: 10px;
    width: 70vw;
    max-width: 700px;
    border: 3px solid #ff8871;
    padding: 7px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    background: rgb(211, 216, 232);
    background: linear-gradient(0deg, rgba(211, 216, 232, 1) 0%, rgba(153, 169, 222, 1) 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }

  #buttonHomePage2a {
    font-family: "HK Semibold";
    width: 40px;
    height: 40px;
    border: none;
    background: rgb(255, 136, 113);
    text-align: center;
    color: #080f24;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }

  #placeholder2a {
    font-family: "HK Semibold";
    width: 40px;
    border: none;
    background: rgb(255, 136, 113);
    text-align: center;
    color: #080f24;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }

  #resultsContainer {
    width: 70vw;
    max-width: 700px;
    margin-left: 10px;
    border-style: solid;
    border-color: #ff8871;
    border-width: 0px 3px 3px 3px;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    font-size: 15px;
    background: rgb(211, 216, 232);
    background: linear-gradient(0deg, rgba(211, 216, 232, 1) 0%, rgba(153, 169, 222, 1) 100%);
    box-sizing: border-box;
  }

  .result {
    font-family: 'HK Regular';
    height: 20px;
    padding-top: 7px;
    padding-left: 10px;
    background: linear-gradient(0deg, rgba(211, 216, 232, 1) 0%, rgba(153, 169, 222, 1) 100%);
  }

  /*-------------------page 3a  ---------------------------------*/
  .popUp1 {
    background: rgb(15, 26, 64);
    background: radial-gradient(circle, rgba(15, 26, 64, 1) 0%, rgba(3, 6, 15, 1) 100%);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff8871;
    width: 40vw;
    min-width: 480px;
    margin: auto;
    margin-top: 5vh;

    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title1 {
    font-family: "Bazar";
    font-size: 2vw;
    text-align: center;
    color: #ff8871;
  }

  #page3a_subtitle {
    font-family: "Bazar";
    font-size: 1.5vw;
    text-align: center;
    color: #ff8871;
  }

  #page3a_title {
    font-family: "Bazar";
    font-size: 2vw;
    text-align: center;
    color: #ff8871;
  }


  .moodButtonsLabels {
    width: 5vw;
    overflow: visible;
    text-align: center;
    line-height: 3vw;
  }

  .goBack {
    background: transparent;
    color: #ff8871;
    border-style: none;
    cursor: pointer;
    outline: none;
    font-size: 3vw;
    width: 100%;
    text-align: right;
    padding-right: 20px;
  }

  .buttonStyle1 {
    width: 55%;
    height: 6vh;
    font-family: "HK Semibold";
    text-align: center;
    font-size: 26px;
    color: #ff8871;
    cursor: pointer;
    margin: 2vh 0 3vh 0;
    text-shadow: 1px 1px 3px rgba(8, 15, 36, 0.5);
    border-radius: 10px;
    background: #ff8871;
    background: -moz-linear-gradient(#ff8871, #ffc7bd);
    background: -ms-linear-gradient(#ff8871, #ffc7bd);
    background: -o-linear-gradient(#ff8871, #ffc7bd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8871), to(#ffc7bd));
    background: -webkit-linear-gradient(#ff8871, #ffc7bd);
    background: linear-gradient(#ff8871, #ffc7bd);
    position: relative;
    color: #080f24;
    font-size: 20px;
    text-align: center;
    line-height: 6vh;
    box-shadow:
      inset 0 2px 3px rgba(255, 255, 255, 0.13),
      0 5px 6px rgba(44, 55, 100, 0.3),
      0 10px 8px 3px rgba(44, 55, 100, 0.2);
  }

  @media only screen and (max-width: 1200px) {
    #page3a_title {
      font-family: "Bazar";
      font-size: 24px;
      text-align: center;
      color: #ff8871;
    }

    #page3a_subtitle {
      font-family: "Bazar";
      font-size: 18px;
      text-align: center;
      color: #ff8871;
    }

    .moodButtonsLabels {
      width: 42.1px;
      overflow: visible;
      text-align: center;
      font-size: 9.6px;
      line-height: 36px;
    }

    .goBack {
      background: transparent;
      color: #ff8871;
      border-style: none;
      cursor: pointer;
      outline: none;
      font-size: 36px;
      width: 100%;
      text-align: right;
      padding-right: 20px;
    }
  }

  .spotifyPreview1 {
    box-sizing: border-box;
    width: 30vw;
    height: 100%;
    min-width: 250px;
    max-width: 400px;
    margin: 3vh 0vw 3vh 0vw;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff8871;
  }

  .moodButton {
    width: 5vw;
    min-width: 60px;
    height: 5vw;
    min-height: 60px;
    border-radius: 50%;
    background: #2c3764;
    background: -moz-linear-gradient(#cad1e8, #8491bf);
    background: -ms-linear-gradient(#cad1e8, #8491bf);
    background: -o-linear-gradient(#cad1e8, #8491bf);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cad1e8), to(#8491bf));
    background: -webkit-linear-gradient(#cad1e8, #8491bf);
    background: linear-gradient(#cad1e8, #8491bf);
    box-shadow:
      inset 0 2px 3px rgba(255, 255, 255, 0.13),
      0 5px 8px rgba(0, 0, 0, 0.3),
      0 10px 10px 4px rgba(0, 0, 0, 0.3);
  }

  #moodButtonsContA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vw;
    width: 30vw;
    min-width: 360px;
    margin: auto;
    margin-top: 1vw;
  }

  .moodButtonsContA2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HK Regular';
    color: #c9d1ea;
    font-size: 0.8vw;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  /*------------------page 4a-------------------------------------*/
  #popUpPage4a {
    margin-top: 10vw;
    height: 30vh;
  }

  #titlePage4a {
    padding: 4vw 0 2vw 0;
    font-size: 24px;
  }





  /*-------------for page 1 less then 800px-----------------------*/
  @media only screen and (max-width: 800px) {
    #IntroTitle {
      font-size: 100px;
    }
    .buttonPage1 {margin-top: 100px; }
  }

  /*--------------------------------------------------------------*/
  /*------------------ section B ---------------------------------*/
  /*--------------------------------------------------------------*/


  /*-------------------------page 2b-------------------------------------*/
  #moodButtonsContB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vw;
    width: 30vw;
    min-width: 360px;
    margin: auto;
    margin-top: 3vw;
  }

  .moodButtonsContB2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'HK Regular';
    color: #c9d1ea;
    font-size: 0.8vw;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  #page2bCont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 90vh;
    margin-top: 5vh;
  }

  #sliderButton2b{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #sketch2bSlider{
      border-radius: 10px;
      border: 3px solid #ff8871;
      background-color: #2c3764;
    }


}

#receiveSong{
    font-family: "HK Semibold";
    text-align: center;
    font-size: 2vw;
    color: #ff8871;
    color: #080f24;
    line-height: 6vh;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(8, 15, 36, 0.5);
    border-radius: 10px;
    background: #ff8871;
    background: -moz-linear-gradient(#ff8871, #ffc7bd);
    background: -ms-linear-gradient(#ff8871, #ffc7bd);
    background: -o-linear-gradient(#ff8871, #ffc7bd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8871), to(#ffc7bd));
    background: -webkit-linear-gradient(#ff8871, #ffc7bd);
    background: linear-gradient(#ff8871, #ffc7bd);
    box-shadow:
      inset 0 2px 3px rgba(255, 255, 255, 0.13),
      0 5px 6px rgba(44, 55, 100, 0.3),
      0 10px 8px 3px rgba(44, 55, 100, 0.2);

    margin-right: 39px;
  }

/*-------------------------page 3b-------------------------------------*/
#spotifyPreviewB{
  height: 360px;
  margin-bottom: 3vw;
}
#page3bPopup{
  justify-content: space-between;

}
#page3b_title{
  margin-top: 1vw;
  margin-bottom: 3vw;
}




/*------------------Code 07/2 ---------------------------------*/
.result {}

.result:hover {
  background-color: antiquewhite;
}

#resultsContainer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.inactive {
  background-color: grey;
}

.inactive:hover {
  background-color: grey;
}

.buttonDown {
  background-color: grey;
}

/*---------------------knob slider-----------------------------*/
.p1 rect {
  fill: #ff8871;
}

.p1 g polygon {
  opacity: 1;
}

.p1 circle {
  fill: #c9d1ea;
  stroke: #ff8871;
  stroke-width: 3;
  /* filter: url(#dropshadow); */
}

.p1 text {
  display: none;
  /* font-size: 10px;
  fill: #57C7B6;
  font-family: sans-serif;
  font-weight: 300;
  -webkit-transition: all .1s ease-in-out; */
}

.p1 text.active {
  /* font-size: 15px;
  -webkit-transition: all .3s ease-in-out; */
}

/*---------------------temporary-----------------------------*/
button {
  width: 200px;
  height: 100px;
}

.statistics {
  color: white;
}
